<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.timeriver.main" >

    <application>
        <activity android:name="cn.com.timeriver.main.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.com.timeriver.main.activity.HomeActivity" />
    </application>
</manifest>
